<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}">
<title>welcome</title>
<style>
h1 {
	font-size: 16pt;
	background-color: CCCCFF;
	padding: 3px;
}

p {
	color: #000066;
}
</style>
</head>
<body>
	<p class="msg" th:text="${message}"></p>
	予約内容をご確認ください。
	<form th:action="@{/confirm}" th:object="${reserveModel}" method="post">
		<table width="310" border="0">
			<tr>
				<td>会員名</td>
				<td><span th:text="${name} + 様"></span></td>
			</tr>
			<tr>
				<td>チェックイン日</td>
				<td><span th:text="${#dates.format(reserveModel.checkInDay, 'yyyy-MM-dd')}"></span></td>
			</tr>
			<tr>
				<td>チェックアウト日</td>
				<td><span th:text="${#dates.format(reserveModel.checkOutDay, 'yyyy-MM-dd')}"></span></span></td>
			</tr>
		</table>
		
		<input type="submit" name="submit" class="btn btn-primary" value="予約"/>
		
		
		<button type="submit" id="back" class="btn btn-primary btn-back" data-action="back">戻る</button>
		
		
	</form>
	
	<a th:href="@{/menu/}" class="btn btn-primary">メニューへ</a>
	
	<form method="post">
	</form>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script type="text/javascript" th:inline="javascript">
	
	$("#back").click(function(){
		$(this).parents('form').attr({ "method" : "get",
			"action" : $(this).data('action') });
	});
	
	function setActionPath(element, path){
		$(this).parents('form').attr("action",path);
	}
	</script>
</body>
</html>