<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>welcome</title>
<style>
h1 {
	font-size: 16pt;
	background-color: CCCCFF;
	padding: 3px;
}

p {
	color: #000066;
}
</style>
</head>
<body>
	<p class="msg" th:text="${message}"></p>
	予約内容をご確認ください。
	<form action="#" th:action="@{/confirm}" th:object="${reserveModel}" method="post">
		<table width="310" border="0">
			<tr>
				<td>会員名</td>
				<td><span th:text="${name} + 様"></span></td>
			</tr>
			<tr>
				<td>チェックイン日</td>
				<td><span th:text="${#dates.format(reserveModel.checkInDay, 'yyyy-MM-dd')}"></span></td>
			</tr>
			<tr>
				<td>チェックアウト日</td>
				<td><span th:text="${#dates.format(reserveModel.checkOutDay, 'yyyy-MM-dd')}"></span></span></td>
			</tr>
			<tr>
				<td><input type="submit" name="submit" value="予約" /></td>
				<td><input type="submit" name="back" value="戻る" /></td>
			</tr>
		</table>
	</form>
	
	<form action="#" th:action="@{/menu}" method="get">
		<input type="submit" value="メニュー" />
	</form>
</body>
</html>