<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}">
<link rel="stylesheet" href="/common/css/menu.css" th:href="@{/common/css/menu.css}" />
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/common/css/common.css" th:href="@{/common/css/common.css}" th:maxlength="10"/>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="webjars/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<title>Insert title here</title>
</head>
<body>
	<main>
		<div class="py-3">
			<div class="container">
				<h3 class="mb-3">退会フォーム</h3>
				<p>パスワードを入力し、「退会」を押してください。</p>
				<div th:if="${hotelReserveMessages} != null">
					<div th:each="message : ${hotelReserveMessages.messages}" th:class="${message.type == 'info'} ? 'column-line has-success' : 'column-line has-error'">
						<label th:text="${message.value}" class="control-label common-block"></label>
					</div>
				</div>
				<form th:action="@{/deleteMember}" th:object="${deleteMemberModel}" method="post">
					<div class="form-group">
						<div class="col-md-3">
							<label for="name" class="col-form-label">
							パスワード <span class="badge badge-warning">必須</span>
							</label>
						</div>			
						<div class="col-md-9">
							<input type="password" class="form-control" id="name" th:field="*{password}" required
							placeholder="パスワードを入力">
						</div>
					</div>
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteMemberModal">
						退会
					</button>
					<a th:href="@{/menu/}" class="btn btn-primary btn-back">戻る</a>
					<div class="modal" id="deleteMemberModal" tabindex="-1" role="dialog" aria-labelledby="deleteMemberModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="deleteMemberModalLabel">退会確認</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									退会処理を行うとユーザ情報は削除され、元に戻すことはできません。
									退会処理を行います。よろしいですか？
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" data-dismiss="modal" >閉じる</button>
									<button type="submit" id="deleteMemberBtn" class="btn btn-primary" data-action="/deleteMember">退会</button>		
								</div>
							</div>
						</div>
					</div>
				</form>			
			</div>
			
			
		</div>
	</main>
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	
	<script type="text/javascript" th:inline="javascript">
		 $('#deleteMemberBtn').click(function(event) {
			var button = $(event.relatedTarget);
			$(this).parents('form').attr({ "method" : "post",
				"action" : $(this).data('action') });
		}); 
	</script>

</body>
</html>