<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>welcome</title><style>
h1 {
	font-size: 16pt;
	background-color: CCCCFF;
	padding: 3px;
}

p {
	color: #000066;
}
</style>

</head>
<body>
	<form th:action="@{/authenticate}" method="POST">
		<h1>hello login</h1>
		<p class="msg" th:text="${message}"></p>
		会員コード:<input type="text" name="username" /><Br>
		パスワード:<input type="text" name="password" /><Br>
		<button type="submit">送信</button>
		<a href="/createMember">新規登録</a>
	</form>
	
	 
	 <form th:action="@{/createMember}" method="post">
		<input type="submit" value="メニュー" />
	</form>
	
	
</body>
</html>