<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>welcome</title>

<style>
h1 {
	font-size: 16pt;
	background-color: CCCCFF;
	padding: 3px;
}

p {
	color: #000066;
}
</style>
</head>
<body>

	<h1>メニュー画面</h1>
	<p class="msg" th:text="ようこそ + ${username} + 様"></p>
	<li><a th:href="@{/reserve/}">予約</a></li>
	<li><a th:href="@{/refer/}">予約照会</a></li>
	<li><a th:href="@{/referVacancy/}">空き状況確認</a></li>
	
	<form method="post" th:action="@{/logout}">
        <button type="submit">ログアウト</button>
    </form>
	

</body>
</html>