<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<p class="msg" th:text="${message}"></p>
	<form action="#" th:action="@{/delete}" th:object="${reserveModel}" method="post">
		<input type="hidden" name="id" th:value="*{id}" />
		<table width="310" border="0">
		  <tr>
		    <td>予約番号</td>
		    <td><span th:text="${reserveModel.id}"></span></td>
		  </tr>
		  <tr>
		    <td>会員名</td>
		    <td><span th:text="${reserveModel.memberid}"></span></td>
		  </tr>
		  <tr>
		    <td>チェックイン日</td>
		    <td><span th:text="${#dates.format(reserveModel.checkInDay, 'yyyy-MM-dd')}"></span></span></td>
		  </tr>
		  <tr>
		    <td>チェックアウト日</td>
		    <td><span th:text="${#dates.format(reserveModel.checkOutDay, 'yyyy-MM-dd')}"></span></span></td>
		  </tr>
		 </table>
		 <input type="submit" value="予約削除" />
	</form>
	
	<form action="#" th:action="@{/menu}" method="get">
		<input type="submit" value="メニュー" />
	</form>
</body>
</html>