<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Datepicker - Default functionality</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/common/css/common.css" th:href="@{/common/css/common.css}" th:maxlength="10"/>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( ".datepicker" ).datepicker({
    	language: "ja",
    	dateFormat: "yy/mm/dd",
        container: 'html',
        autoclose: true
    });
  } );
  </script>
</head>
<body>
	<p class="msg" th:text="${message}"></p>
 	<form th:action="@{/confirm}" method="post" th:object="${reserveModel}" >
	 	<div class="search-condition-line">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-3">
							<label for="span" class="common-control-label">予約期間</label><span class="common-required">*</span>
						</div>
						<div class="col-md-8">
							<div class="row">
							
									<div th:class="${#fields.hasErrors('checkInDay')} ?  'col-md-5 has-error' : 'col-md-5'"  >
				 					<input type="text" class="form-control datepicker" th:field="*{checkInDay}" th:maxlength="10">
				 					</div>
				 					
				 				
								<div class="col-md-1 text-center">～
								</div>
								
									<div th:class="${#fields.hasErrors('checkOutDay')} ?  'col-md-5 has-error' : 'col-md-5'"  >
						 			<input type="text" class="form-control datepicker" th:field="*{checkOutDay}" th:maxlength="10" >
						 			</div>
						 		
					 		</div>
		 				</div>
	 				</div>
 				</div>
			</div>
		</div>
		<div class="common-center common-margin">
		<input type="submit" class="btn btn-primary" value="予約" />
		<a th:href="@{/menu/}" class="btn btn-primary btn-back">戻る</a>
		</div>
	</form>
	
	
	
	
 
 
</body>
</html>